{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Я осваиваю профессию бэкенд разработчика!
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">
                  <div class="card-text">
                      <p>Привет заблудшим душам, которые посетили этот юрл! Меня зовут Павел Хан и я 4 месяца назад, по наставлению старшего брата, начал изучать программирование Python! И что же я понял...</p>
                      <p><b>Тяжело...</b> Наверное <b>тяжелее</b>, чем все что я изучал до этого, но я иду к своей цели стать хорошим <b>Pythonista!</b> И ЯндексПрактикум мне круто помогает:)</p>
                      <p>Я не уверен, если этот текст вообще кто-нибудь прочитает, но если прочитают, то все что я делаю не зря.</p>
                      <p>Хотел бы поблагодарить свою семью, за то, что они всегда рядом, и всегда поддерживают, даже если я того не заслуживаю.</p>
                      <p>Плохой был год, надеюсь <b>21</b> будет лучше...</p>
                      <p>Счастливого <b>Нового</b> года!</p>
                      <br>
                      <br>
                      <br>
                      <p>С наилучшими пожеланиями. Павел Хан. 25 декабря 2020 года.</p>
                      <p>P.S. загляни в технологии, расскажу чему я научился...</p>
                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %} 