{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Технологии
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Бэкенд факультет Когорта 12 Яндекс.Практикум
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">
                  <div class="card-text">
                      <p>Привет тебе, незнакомый(или нет) мне человек! Спасибо, что зашел по этому юрлу!</p>
                      <p>Если ты читаешь это сообщение, значит ты либо мой друг, брат, знакомый, либо потенциальный работодатель.</p>
                      <p>Сейчас я постараюсь в кратце рассказать чему я научился за последние 4 месяц.</p>
                      <p>В первый месяц, я изучил базовые понятия языка Python, переменные, типы данных, циклы и т.п.
                          <br>
                      Во второй месяц SQL(CRUD,JOIN), познакомился с командной строкой, GIT, и написал калькулятор денег и калорий(Все мои работы на моей страницы в GitHub)
                          <br>
                      В третий месяц Django, создание проекта, миграции, Django ORM, декораторы, валидация, модели, вьюхи, юрлы, формы, шаблоны и их взаимодействие, создал свой первый проект(тот на которым мы сейчас находимся)
                          <br>
                      В четвертый месяц я изучил тестирование, аннотации, assert, Unittest и TDD, Unittest в Django, паджинатор и статичные страницы и классы.
                      </p>
                      <p>К сожалению, не могу сказать, что я освоил курс на 100% и прям сейчас сяду и с закрытыми глазами напишу супер проект. Есть моменты над которыми мне нужно поработать и я буду их прорабатывать дальше</p>
                      <p>Я неплохо изучил строение Django, но мне необходимо поработать с написанием сложных вью и более детально разобрать, что откуда подтягивается</p>
                      <p>Также я обладаю и другими навыками, более подробно можете ознакомится в моем резюме!</p>
                      <a href="https://hh.kz/resume/848a5c01ff085393160039ed1f777866374e67">Мое резюме</a>
                      <br>
                      <a href="https://github.com/PavelKhanOff">Ссылка на GitHub</a>
                      <p>С наилучшими пожеланиями, Павел Хан. 25 декабря 2020 года</p>


                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}